@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOXREeHhJi4GEUJI9ob_ak4.woff2) format('woff2');
}


html, body, div, object, iframe,
h1, h2, h3, p, blockquote, ol, ul, li,
form, dl, dt, dd, fieldset, form, input, legend, label,
textarea, table, header, footer, nav, section {
  margin:0;
  padding:0;
  border:0;
}
body {
  font: 14px/1.5 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  background: #000;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display:block;
}
* {
  box-sizing: border-box;
}
a {
  color:#73adff;
}
h1, h2, h3 {
  font-weight: 600;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.layout {
  width: 1024px;
  margin: 0 auto;
}
.status {
  background: #1c2644;
  width: 300px;
  float: left;
  padding: 27px 26px 32px 32px;
}
.donate {
  background: #233056;
  width: 724px;
  float: left;
}
.status-info {
  margin-bottom: 27px;
  h2 {
    font-size: 18px;
    margin-bottom: 13px;
  }
}
.status-level-list {
  ol {
    list-style-type: upper-roman;
    padding-left: 14px;
    li {
      margin-bottom: 20px;
    }
  }
}
.status-level-name {
  font-weight: 600;
  margin-bottom: 10px;
}
.status-level-icon {
  img {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.donate-head {
  background: #0d1221;
  padding: 16px 18px;
  position: relative;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      button {
        padding: 8px 17px;
        color: #fff;
        background: #4f5977;
        border: none;
        border-radius: 2px;
      }
    }
  }
}
.donate-head ul li.active button {
  background: #52709c;
}
.donate-head ul > li + li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 10px;
  background: url(../images/arrow.png) no-repeat;
  margin: 0 6px;
}
.close {
  position: absolute;
  top: 50%;
  right: 24px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url(../images/close.png) no-repeat;
  cursor: pointer;
}
.donate-body {
  padding: 16px 18px 0;
}
.support-message {
  padding: 15px 0 10px;
  a {
    text-decoration: none;
  }
}
.user-status {
  padding: 15px 0 10px;
  p {
    font-size: 18px;
    margin-bottom: 20px;
    a {
      text-decoration: none;
    }
  }
}
.progress-line {
  margin-bottom: 10px;
}
.donate-form input, .donate select, .donate textarea {
  background: #0d1221;
  color: #fff;
}
.form-group {
  float: left;
  margin-bottom: 16px;
}
.form-group.form-col-1 {
  width: 100%;
}
.form-group.form-col-2 {
  width: 48%;
}
.donate-form {
  label {
    display: block;
    margin-bottom: 8px;
  }
  input[type="text"],
  input[type="email"] {
    height: 35px;
    padding: 0 16px;
    border-radius: 2px;
  }
  input[type="text"] {
    width: 100%;
  }
  input[type="email"] {
    width: 48%;
  }
  select {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 2px;
  }
  textarea {
    width: 100%;
    padding: 22px 16px;
    border-radius: 2px;
    font-size: 14px;
  }
  .checkbox {
    float: left;
    width: 540px;
    padding-top: 7px;
    label {
      margin: 0;
    }
  }
}
.donate-btn {
  float: left;
  width: 148px;
  button {
    color: #fff;
    background: #656871;
    padding: 8px 0;
    width: 116px;
    text-align: center;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px #4c505d;
  }
}
.donate-form-message {
  position: relative;
}
.symbol-count {
  position: absolute;
  bottom: 15px;
  right: 16px;
  color: #868887;
}
.select-block {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 2px;
  position:relative;
  background: #0d1221 url(../images/select-arrow.png) no-repeat right;
  select {
    width:100%;
    height:35px;
    position:relative;
    border:none;
    cursor:pointer;
    opacity:0;
    filter: alpha(opacity=0);
  }
  p {
    padding:0 16px;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    color:#fff;
    font-size: 14px;
    line-height: 34px;
    overflow:hidden;
  }
}
input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"] + label {
  background: url(../images/checkbox.png) no-repeat 0 2px;
  padding-left: 20px;
}
input[type="checkbox"]:checked + label {
  background: url(../images/checkbox-checked.png) no-repeat 0 2px;
}
.donate-form-sum {
  margin-right: 2%;
}
.donate-form-system {
  margin-left: 2%;
}
.rub {
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  line-height: 6px;
  border-bottom: 1px solid #fff;
  width:0.6em;
}
.progress-step {
  float: left;
  position: relative;
  height: 40px;
  //background: #73adff;
  &:after {
    display: block;
    width: 20px;
    height: 20px;
    background: #233056;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    z-index: 2;
  }
}
.step-100 {
  width: 110px;
  &:after {
    content: "I";
  }
}
.step-300 {
  width: 108px;
  margin-left: -8px;
  &:after {
    content: "II";
  }
}
.step-500 {
  width: 108px;
  margin-left: -8px;
  &:after {
    content: "III";
  }
}
.step-3000 {
  width: 164px;
  margin-left: -8px;
  &:after {
    content: "IV";
  }
}
.step-10000 {
  width: 230px;
  margin-left: -8px;
  &:after {
    content: "V";
  }
}
.progress-step-sum {
  position: absolute;
  top: 8px;
  right: 20px;
  color: #a3a8bb;
  z-index: 1;
  .rub {
    border-bottom-color: #a3a8bb;
  }
}
.step-complete {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;
  i {
    font-size: 20px;
  }
}